{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-svelte"],
    "svelteStrictMode": false,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true
}
