@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 92%; /* lighter gray */
        --foreground: 0 0% 25%; /* darker gray */

        --muted: 0 0% 85%; /* slightly darker than background */
        --muted-foreground: 0 0% 40%; /* slightly lighter than foreground */

        --popover: 0 0% 92%;
        --popover-foreground: 0 0% 25%;

        --card: 0 0% 85%; /* match muted color */
        --card-foreground: 0 0% 25%;

        --border: 0 0% 75%; /* border a bit more visible */
        --input: 0 0% 75%;

        --primary: 205 60% 45%; /* subtle blue for primary */
        --primary-foreground: 0 0% 95%; 

        --secondary: 0 0% 75%;
        --secondary-foreground: 0 0% 20%;

        --accent: 0 0% 75%;
        --accent-foreground: 0 0% 20%;

        --destructive: 0 0% 50%;
        --destructive-foreground: 0 0% 95%;

        --ring: 0 0% 40%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 20%;
        --foreground: 0 0% 85%;

        --muted: 0 0% 30%;
        --muted-foreground: 0 0% 70%;

        --popover: 0 0% 20%;
        --popover-foreground: 0 0% 85%;

        --card: 0 0% 25%; 
        --card-foreground: 0 0% 85%;

        --border: 0 0% 40%;
        --input: 0 0% 40%;

        --primary: 205 60% 55%; 
        --primary-foreground: 0 0% 20%;

        --secondary: 0 0% 35%;
        --secondary-foreground: 0 0% 85%;

        --accent: 0 0% 35%;
        --accent-foreground: 0 0% 85%;

        --destructive: 0 0% 45%;
        --destructive-foreground: 0 0% 85%;

        --ring: 0 0% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;

    }
}
