@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 85%;
        --foreground: 0 0% 0%;

        --muted: 0 0% 70%;
        --muted-foreground: 0 0% 0%;

        --popover: 0 0% 85%;
        --popover-foreground: 0 0% 0%;

        --card: 0 0% 45%;
        --card-foreground: 0 0% 0%;

        --border: 0 0% 100%;
        --input: 0 0% 75%;

        --primary: 0 0% 35%;
        --primary-hover: 0 0% 25%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 45%;
        --secondary-hover: 0 0% 35%;
        --secondary-foreground: 0 0% 100%;

        --accent: 0 0% 75%;
        --accent-foreground: 0 0% 0%;

        --destructive: 0 0% 50%;
        --destructive-foreground: 0 0% 0%;

        --ring: 0 0% 40%;

        --radius: 1rem;

        --error: 0 60% 50%;

        --dismissive: 0 80% 60%;
        --dismissive-hover: 0 80% 50%;
        --dismissive-foreground: 0 0% 0%;

        --a1: 193 86% 37%;
        --a1-hover: 193 86% 25%;
        --a1-foreground: 0 0% 100%;

        --a2: 35 87% 49%;
        --a2-hover: 35 87% 30%;
        --a2-foreground: 0 0% 100%;

        --a3: 69 49% 40%;
        --a3-hover: 69 49% 30%;
        --a3-foreground: 0 0% 100%;

        --confirm: 0 100% 50%;
        --confirm-hover: 0 100% 40%;
        --confirm-foreground: 0 0% 100%;
    }

    /* .dark {
        --background: 0 0% 15%;
        --foreground: 0 0% 85%;

        --muted: 0 0% 30%;
        --muted-foreground: 0 0% 70%;

        --popover: 0 0% 20%;
        --popover-foreground: 0 0% 85%;

        --card: 0 0% 25%; 
        --card-foreground: 0 0% 85%;

        --border: 0 0% 40%;
        --input: 0 0% 40%;

        --primary: 205 60% 55%; 
        --primary-foreground: 0 0% 20%;

        --secondary: 0 0% 35%;
        --secondary-foreground: 0 0% 85%;

        --accent: 0 0% 35%;
        --accent-foreground: 0 0% 85%;

        --destructive: 0 0% 45%;
        --destructive-foreground: 0 0% 85%;

        --ring: 0 0% 55%;
    } */
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
